<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>
        Hi, this is the Node.js project testing the sample applicaiton, now this app is working on Docker.
    </body>
</html>  